body,html{
  margin:0;
  padding:0;
  font-family: sofia-pro,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  overflow: hidden;  
  height:fit-content;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none; /* no underline */
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none; /* no underline */
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none; /* no underline */
}


.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black
}

.section-games {
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
  color: black
}


.section-experience {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black
}

.section-projects {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black
}

.section-about {
  position: relative;
  max-height: fit-content;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #F7F7F7;
}

.section-footer {
  position: relative;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f1f1f !important;
  color:#7e7a7a;
  border-bottom: 2px solid #1f1f1f !important;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: rgb(255, 255, 255);
  border-top: 2px solid rgb(206, 228, 252);
  border-bottom: 2px solid rgb(206, 228, 252);
}

.bg1::after {
  background-image: url('/bg3.png');
}

.bg2::after {
  background-image: url('/bg3.png');
}

.page-particles{
  width:100%;
  //min-height:100vh;
  //max-height:fit-content;
  height: 100vh;
  position:fixed; 
  z-index:0;
  //top:0em;
}

h1{
  margin:2em;
}

.static-footer {
  //background: rgb(255, 255, 255);
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.wrapper{
  overflow-y: scroll;
  scroll-behavior: smooth;
}