.work{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    width:80%;
    //margin: 5em;
    * {
      box-sizing: border-box;
  
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    p {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    } 
}

.work-timeline{
    position: relative;
    max-width: 95%;
    list-style: none;
    &:before {
      background-color: black;
      content: '';
      margin-left: -1px;
      position: absolute;
      top: 0;
      left: 2em;
      width: 2px;
      height: 100%;
    }
}

.work-event{
    position: relative;
}

.work-icon{
    transform: rotate(45deg);
    background-color: black;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.work-body{
    padding: 2em 2em 0 2em;
    position: relative;
    top: -1.875em;
    left: 2em;
    width: 95%;
    h3 {
      font-size: 1.75em;
    }
    h4 {
      font-size: 1.2em;
      margin-bottom: 1.2em;
    }
}

.work-date{
    color: white;
    background-color: black;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.work-description{
    strong {
        font-weight: 700;
      }
      p {
        padding-bottom: 1.2em;
      }
}

.work-container{
    display:flex;
    align-items: center;
}


@media only screen and (max-width: 550px) {
    .work{
        width:100%;
    }

    .work-container{
        flex-direction: column-reverse;
    }

    .work-timeline{
        left: 0em;
    }

    .work-description{
        left: 0em;
    }
    
    .work-icon{
        left: 0em;
        display:none;
    }

    .work-body{
        left: 0em;
        padding: 1em 1em 0 1em;
    }

    .work-timeline:before {
        display:none;
    }

    .company-logo{
        margin-top:0.5em;
        padding-bottom:1em;
    }

    .experience-description{
        margin-right:0em !important;
        width: 100% !important;
    }
}

.work-slides{
    border: 2px solid #00060e;
    //box-shadow: 0 0 1px 1px #000000;
    border-radius: 2px;
    //overflow: hidden;
}

